/* HTML tags */

body {
    font: 100% Arial, Verdana, sans-serif;
    margin:0;
    padding:0;
    font-size: 16px;
    color:#ffffff;
}


/*  Classes  */
.header {
    display: inline-flex;
    width: 100%;
    background-color: black;
    height: 5em;
}

.header > .headerText{
    margin: 1em 2em 1em 0 ;
    color: white;
    font-weight: bold;
}

.headerImg{
    margin-right: 2em;
}

.header > .headerLink > a{
    margin: 1em 2em 1em 0 ;
    color: white;
    font-weight: bold;
}

.content{
 margin-left: 2em;
    color: #000000;
}


/*  ID's    */
#osloMetlogo{
    height: 5em;

}

